.games-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
}

.games-menu.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.games-menu-content {
  position: relative;
  padding: 25px 30px 25px 40px;
  width: 450px;
  max-height: 80vh;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: all 0.1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
}

.games-menu-content.open {
    animation: openMenu 0.1s forwards;
}

.games-menu-content.close {
    animation: closeMenu 0.1s forwards;
}

.games-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.games-menu-header h2 {
  color: #e0e0e0;
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
  margin-bottom: -10px;
}

.games-search-bar {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #ffffff;
  margin-top: 10px;
  margin-left: -12px;
  font-size: 18px;
}

.games-search-bar input[type=text] {
  padding: 14px 14px 14px 40px;
  width: 400px;
  background-color: #080808;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #b9b9b9;
  font-size: 15px;
  text-align: left;
  transition: all 0.1s ease;
}

.games-search-bar input[type=text]:focus,
.games-search-bar input[type=text]:hover {
    background-color: #1d1d1d;
}

.games-search-bar input[type=text]::placeholder {
  color: #ffffff69;
}

.games-grid-container {
  display: none;
  border-radius: 15px;
  background-color: #080808;
  margin-left: -12px;
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 0 0 0;
  width: 460px;
  transition: all 0.3s ease;
}

.games-grid-container::-webkit-scrollbar-track {
    background: #00000000;
}

.games-grid {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 8px;
  list-style: none;
}

.game-card {
  border-radius: 15px;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 15px;
}

.game-card:hover {
  background-color: #1f1f1f;
  transform: none;
}

.game-image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 0;
}

.game-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: block;
}

.game-info {
    flex: 1;
    min-width: 0;
}

.games-grid h2 {
  color: #e0e0e0;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.game-description {
    color: #808080;
    font-size: 13px;
    margin: 3px 0 0 0;
    font-weight: 400;
    white-space: normal;
    overflow-wrap: break-word;
}

.games-sentinel {
  height: 1px;
  margin-top: 15px;
}

#close-games-menu {
    position: absolute;
    top: 17px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 10px;
    color: #888888;
    cursor: pointer;
    z-index: 1000;
    outline: none;
    display: inline-flex;
    transition: 0.3s ease;
}

#close-games-menu:hover {
    color: #ffffff;
}

#close-games-menu i {
    font-size: 20px;
    line-height: 0;
}

@keyframes openMenu {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes closeMenu {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}