.settings-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #080808;
    padding: 25px 25px;
    border-radius: 20px;
    width: 600px;
    max-width: 90vw;
    z-index: 999999;
    color: #e0e0e0;
    text-align: center;
    display: none;
    transition: all 0.1s ease;
}

#settings-menu h2 {
    margin-bottom: 20px;
    margin-top: -15px;
    margin-left: 0;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2px;
}

#settings-menu label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: #e0e0e0;
    pointer-events: none;
    transition: color 0.3s ease;
}

#settings-menu p {
    font-size: 14px;
    color: #818181;
    margin-top: -10px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

#settings-menu select {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    background-color: #1b1b1b;
    color: #e0e0e0;
    border: 2px solid #4141411a;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease;
}

#settings-menu select:focus {
    transform: scale(1.02);
}

#close-settings {
    position: absolute;
    top: 17px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 10px;
    color: #888888;
    cursor: pointer;
    z-index: 1000;
    outline: none;
    display: inline-flex;
    transition: 0.3s ease;
}

#close-settings:hover {
    color: #ffffff;
}

#close-settings i {
    font-size: 20px;
    line-height: 0;
}

#settings-menu select:hover {
    background-color: #333;
}

.settings-menu.open {
    display: block;
    opacity: 1;
    animation: openMenu 0.1s forwards;
}

.settings-menu.close {
    animation: closeMenu 0.1s forwards;
}

.transport-selector, .search-engine-selector, .backend-selector, .decoy-selector, .cloak-link-selector {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.transport-selected, .search-engine-selected, .backend-selected, .decoy-selected, .cloak-link-selected {
    background-color: #181818;
    border: 2px solid #ffffff00;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
}

.transport-selected:hover, .search-engine-selected:hover, .backend-selected:hover, .decoy-selected:hover, .cloak-link-selected:hover {
    background-color: #333;
}

.transport-selected::after, .search-engine-selected::after, .backend-selected::after, .decoy-selected::after, .cloak-link-selected::after {
    content: "\f107";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-size: 0.8em;
    transition: all 0.3s ease;
}

.transport-selected.transport-arrow-active::after, .search-engine-selected.search-engine-arrow-active::after, .backend-selected.backend-arrow-active::after, .decoy-selected.decoy-arrow-active::after, .cloak-link-selected.cloak-link-arrow-active::after {
    transform: rotate(180deg);
}

.transport-options, .search-engine-options, .backend-options, .decoy-options, .cloak-link-options {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 0;
    right: 0;
    color: #9b9b9b;
    background-color: #181818;
    border: 2px solid #ffffff00;
    border-radius: 15px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 10;
    padding: 3px 0;
}

.transport-options.transport-show, .search-engine-options.search-engine-show, .backend-options.backend-show, .decoy-options.decoy-show, .cloak-link-options.cloak-link-show {
    max-height: 400px;
    opacity: 1;
}

.transport-options div, .search-engine-options div, .backend-options div, .decoy-options div, .cloak-link-options div {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    width: 93%;
    margin: 0 auto;
    transition: all 0.1s ease;
}

.transport-options div:hover, .search-engine-options div:hover, .backend-options div:hover, .decoy-options div:hover, .cloak-link-options div:hover {
    background-color: #333;
    color: #d6d6d6;
}

#wisp-server {
    width: 100%;
    max-width: 270px;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #181818;
    color: #e0e0e0;
    margin-left: -38px;
    border: 2px solid #00000000;
    font-size: 0.8em;
    border-radius: 15px;
    outline: none;
    transition: all 0.1s ease;
}

#wisp-server:hover,
#wisp-server:focus {
    background-color: #222222;
}

#wisp-server::placeholder {
    color: #525252;
}

#save-wisp-url {
    padding: 8px 10px;
    background-color: #c4c4c4;
    border: 2px solid #4141411a;
    color: #000000;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#save-wisp-url:hover {
    background-color: #ffffff;
}

#save-wisp-url:active {
    transform: scale(0.95);
}

input[type="checkbox"] {
    appearance: none;
    width: 64px;
    height: 35px;
    margin-left: -343px;
    background-color: #2e2e2e;
    margin-bottom: 5px;
    border-radius: 30px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #808080;
}

input[type="checkbox"]::before {
    content: '';
    width: 24px;
    height: 24px;
    background-color: #dddddd;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 4px;
    transition: all 0.1s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(33px);
}

input[type="checkbox"]:hover::before {
    background-color: #ffffff;
}

input[type="checkbox"]::after {
    content: '\f00d';
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #e0e0e0;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

input[type="checkbox"]:checked::after {
    content: '\f00c';
    left: 12px;
    right: auto;
    color: #e0e0e0;
}

.settings-container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.settings-tabs {
    display: flex;
    flex-direction: column;
    flex: 0 0 160px;
    gap: 10px;
}

.settings {
    transition: all 0.3s ease;
}

.settings.active-icon {
    color: #ffffff;
}

.tab-button {
    background-color: transparent;
    border: none;
    color: #888888;
    padding: 12px 14px;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.1s ease;
    margin: 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-button i {
    text-align: center;
}

.tab-button:hover {
    background-color: #ffffff23;
    color: #c2c2c2;
}

.tab-button.active {
    background-color: #ffffff1f;
    color: #ffffff;
}

.settings-content-wrapper {
    flex: 1;
    position: relative;
    min-height: 400px;
}

.tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(20px);
    visibility: hidden;
    transition: all 0.1s ease;
}

.tab-content.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    transition: all 0.1s ease;
}

.settings-version-label {
    margin-top: auto;
    font-size: 14px;
    color: #858585;
    cursor: default;
    text-align: left;
    padding-left: 2px;
    padding-top: 18px;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.settings-version-label:hover {
    color: #ffffff;
}

@keyframes openMenu {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes closeMenu {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}