.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2147483647;
  width: 300px;
}

.toast {
  position: absolute; 
  bottom: 0;
  right: 0;
  width: calc(100% - 10px);
  padding: 13px 10px;
  margin: 5px;
  border-radius: 13px;
  font-size: 12px;
  color: white;
  font-weight: 300;
  border: 1.5px solid #ffffff1e;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform-origin: bottom center;
}

.toast.is-hiding {
  transform: translateY(20px) !important;
  opacity: 0 !important;
  transition-timing-function: ease-in;
}

.toast.success,
.toast.error,
.toast.info {
  background-color: #000000a9;
  backdrop-filter: blur(5px);
}

.toast-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.toast i {
  font-size: 15px;
  margin-right: 8px;
}